<div class="tm-section tm-bg-img" id="tm-section-1">
    <div class="tm-bg-white ie-container-width-fix-2">
        <div class="container ie-h-align-center-fix">
            <div class="row">
                <div class="col-xs-12 ml-auto mr-auto ie-container-width-fix">
                    <form class="tm-search-form tm-section-pad-2" id="listing-form">
                        <div>
                            <h3>Create Job Listing</h3>
                            <label for="post-title">Job Title:</label>
                            <input type="text" id="post-title" name="post-title" />
                        </div>
                        <div>
                            <label for="post-description">Description:</label>
                            <input type="text" id="post-description" name="post-description" />
                        </div>
                        <div>
                            <label for="post-salary">Salary:</label>
                            <input type="text" id="post-salary" name="post-salary" />
                        </div>
                        {{!-- <div>
                            <label for="post-category">Category:</label>
                            <input type="number" id="post-category" name="post-category" />
                        </div> --}}
                        <div>
                            <button type="submit" class="btn-primary tm-btn-primary">Post</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="tm-section tm-section-pad tm-bg-gray" id="tm-section-4">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-8 col-xl-8">
                <h2>Your Listings</h2>
                <br />
                {{#each posts}}
                <div class="tm-article-carousel">
                    <article class="tm-bg-white mr-2 tm-carousel-item">
                        <div class="tm-article-pad">
                            <header>
                                <h3 class="text-uppercase tm-article-title-2">{{title}}</h3>
                                <h6>Salary: ${{salary}}</h6>
                                <h6>Technologies: {{category.category_name}}</h6>
                            </header>
                            <h6>Description:</h6>
                            <p>{{description}}</p>
                            <a href="#" class="text-uppercase btn-primary tm-btn-primary">Submit Resume</a>
                        </div>
                    </article>
                    {{/each}}
                </div>
            </div>
        </div>
    </div>
</div>


<script src="/javascript/add-post.js"></script>

